.App {
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-weight: 600;
}

.main_header {
    position: fixed;
    width: 100%;
    background-color: #08afe6;
    padding: 20px 0;
    margin: 0;
    color: #fff;
    text-align: center;
    height: 50px;
    z-index: 1;
}

.main_body {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 225px 1fr 225px;
}

.navigation_menu {
    position: fixed;
    z-index: 1;
    left: 0;
    width: 225px;
    height: 100%;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    background-color: #333;
    transition-duration: .25s;
}

.navigation_item {
    display: block;
    color: #c5c5c5;
    background-color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    text-align: left;
    border: none;
    width: 100%;
}

.navigation_item:hover {
    cursor: pointer;
    color: #333;
    background-color: #868686;
}

.navigation_menu_radio {
    display: none;
}

.navigation_menu_radio:checked+.navigation_item {
    color: #333;
    background-color: #c5c5c5;
}
.navigation_menu_radio:checked+.navigation_item .icon_image {
    filter: invert(0.2);
}

.navigation_item:hover .icon_image {
    filter: invert(0.2);
}

.icon_image {
    position: relative;
    filter: invert(0.8);
    width: 20px;
}

.sign_in_menu {
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
    padding: 0 10%;
}

.default_button {
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    font-size: large;
    background-color: #3dc6ea;
    color: #f1f1f1;
    width: 100%;
    box-sizing: border-box;
    transition-duration: 0.25s;
    border: none;
    margin: 5px 0;
}

.default_button:active {
    box-shadow: 2px 2px 5px #333;
}

.default_button:hover {
    background-color: #08afe6;
}

.default_button_half {
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    font-size: large;
    background-color: #3dc6ea;
    color: #f1f1f1;
    margin: 5px;
    width: 46%;
    box-sizing: border-box;
}

.default_button_half:hover {
    background-color: #08afe6;
}


.default_button_half:active {
    box-shadow: 2px 2px 5px #333;
}

.batch_button {
    border: none;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    font-size: large;
    color: #08afe6;
    margin: 5px;
    width: 32%;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #f3f3f3;
}

.batch_button:hover {
    background-color: #dadada;
}

.batch_button:active {
    box-shadow: 2px 2px 5px #333;
}

.calibration_1 {
    background-color: red;
    padding: 2px 6px;
    color: #333;
    border-radius: 4px;
}

.calibration_2 {
    background-color: blue;
    padding: 2px 6px;
    color: #f1f1f1;
    border-radius: 4px;
}

.calibration_3 {
    background-color: yellow;
    padding: 2px 6px;
    color: #333;
    border-radius: 4px;
}

.calibration_4 {
    background-color: red;
    padding: 2px 6px;
    color: #333;
    border-radius: 4px;
}

.calibration_5 {
    background-color: yellow;
    padding: 2px 6px;
    color: #333;
    border-radius: 4px;
}

.home_button {
    width: 130px;
    height: 60px;
    background-image: url(../media/logo.png);
    background-size: 100% 100%;
    position: fixed;
    left: 20px;
    top: 15px;
    border-radius: 2px;
    cursor: pointer;
    z-index: 1;
    border: none;
}

.home_button:active {
    box-shadow: 2px 2px 5px #333;
}

.sign_in_button {
    width: 100px;
    height: 35px;
    background-size: 100% 100%;
    position: absolute;
    padding: none;
    right: 0;
    top: 0;
    border-radius: 2px;
    cursor: pointer;
}

.sign_in_button:hover {
    background-color: lightgrey;
}

.sign_in_button {
    box-shadow: 2px 2px 5px #333;
}

.sign_in_container {
    position: fixed;
    width: fit-content;
    padding-right: 100px;
    z-index: 1;
    top: 25px;
    right: 15px;
}

.pop_up {
    padding: 10px;
    position: fixed;
    top: 35px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.pop_up_content {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    width: 85%;
}

.technician_name {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 20px;
    width: fit-content;
    font-size: larger;
    margin-top: 10px;
}

.menu {
    background-color: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    text-align: center;
    width: 70%;
    box-sizing: border-box;
    margin: 64px 15% 0 15%;
    padding: 20px;
}

.default_text_box {
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    height: 30px;
    font-size: large;
    font-weight: 600;
    text-align: center;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 5px 0;
}

.default_text_box:focus {
    outline: none;
}

.grid_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.menu_form {
    width: 100%;
    margin-left: 50%;
    margin-right: 50%;
}

.grid_entry_container {
    text-align: center;
}

.customer_info_text_box {
    width: 48%;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 2px;
    height: 30px;
    font-size: large;
    font-weight: 600;
    text-align: center;
}


.sensor_entry_grid_container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 20px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
    word-wrap: break-word;
    grid-column: span 2;
}

.sensor_grid_box {
    background-color: #333;
    border-radius: 2px;
    color: #f1f1f1;
    padding: 2px;
    border: 1px solid black;
}

.manage_menu {
    position: absolute;
    width: 40%;
    left: 5%;
}

.test_menu {
    position: relative;
    max-width: 90%;
    margin-top: 10px;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 2px;
    padding: 5px;
}

.button_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    position: absolute;
    bottom: 0;
}

.button_container button {
    display: inline-block;
}

.button_container h1 {
    display: inline-block;
}

.grid_row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    max-width: 100%;
    margin-top: 10px;
    transition-duration: 0.25s;
}

.grid_row .default_button {
    margin: 0;
    width: 100%;
}

.humidity_grid {
    grid-template-columns: repeat(5, 1fr);
}

.grid_entry {
    max-width: 100%;
    max-height: 100%;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: #f1f1f1;
    background-color: #333;
}

.grid_entry_green {
    max-width: 100%;
    max-height: 100%;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: black;
    background-color: #5ff037;
}

.grid_entry_red {
    max-width: 100%;
    max-height: 100%;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: #f1f1f1;
    background-color: #ed4928;
}

.grid_entry_yellow {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #333;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: #333;
    background-color: #fffb00;
}

#button_row {
    gap: 5px;
    margin: 0;
    padding: 0;
    width: 97%;
}

#button_row button {
    display: inline-block;
    width: 100%;
}

#done_button {
    grid-column: span 5;
}

.error_popup {
    z-index: 5;
    top: 2%;
    position: absolute;
    left: 30%;
    width: 40%;
    height: 20%;
    border-radius: 2px;
    border: #333 2px solid;
    background-color: #f2f2f2;
}

.confirmation_popup {
    width: 50%;
    height: 30%;
}

#popup_close {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15%;
}

#popup_confirm {
    position: absolute;
    right: 16%;
    bottom: 0;
    width: 15%;
}

.button_and_input input {
    width: 45%;
}

.double_span {
    grid-column: span 2;
}

.dropdown {
    text-align: center;
    border: 2px solid black;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    font-size: large;
    background-color: #f1f1f1;
    width: 100%;
    box-sizing: border-box;
}

.dev_banner {
    position: fixed;
    background-color: red;
    text-align: center;
    z-index: 10;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.button_span {
    grid-column: 1 / span 2;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
    color: #333;
}

.green {
    color: #333;
    background-color: #5ff037;
}

.red:hover {
    background-color: #d42a2a;
}

.green:hover {
    background-color: #41dd15;
}

.red_sensor {
    border: none;
    background-color: red;
    color: #f1f1f1;
}

.green_sensor {
    border: none;
    background-color: #5ff037;
    color: #333;
}

.equipment_container {
    position: fixed;
    z-index: 1;
    right: 0;
    width: 225px;
    height: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
    background-color: #f2f2f2;
}

.equipment {
    transition-duration: .25s;
    background-color: #f1f1f1;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 10px 10px 0;
    width: 200px;
    z-index: 1;
}

.equipment:hover {
    cursor: pointer;
    background-color: #333;
    color: #08afe6;
    border-color: #08afe6;
}

.equipment_popup {
    color: #333;
    background-color: #dadada;
    width: 200px;
    transition-duration: 0.75s;
    overflow: hidden;
    max-height: 0;
    margin: 0 13px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.equipment_popup_show {
    max-height: 100vh;
}

.no_display {
    display: none;
}

.lab_readings {
    margin: 0;
    text-align: center;
    background-color: #333;
    color: #c5c5c5;
    font-size: large;
    width: 100%;
    padding: 10px 5px;
}

.status_dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.status_dot_red {
    background-color: red;
    color: #f1f1f1;
}

.status_dot_yellow {
    background-color: yellow;
}

.status_dot_green {
    background-color: #5ff037;
}

.stable_green {
    background-color: #5ff037;
}

.stable_green:hover {
    color: #5ff037;
    background-color: #333;
    border-color: #5ff037;
}

.navbar {
    position: fixed;
    padding: 10px;
    background-color: white;
    width: 100%;
    z-index: 1;
}

.navbar_button {
    background-color: transparent;
    color: #08afe6;
    font-size: larger;
    font-style: italic;
    font-weight: 600;
    border: none;
}

.navbar_button:hover {
    cursor: pointer;
    color: #3dc6ea;
}

.navbar_button_span {
    color: #333;
}

.status_message {
    border: #333 2px solid;
    display: inline-block;
    border-radius: 2px;
    padding: 5px;
    font-size: large;
    margin: 5px;
    width: 47.5%;
    box-sizing: border-box;
}

.selected_sensor {
    background-color: lightgray;
    border: #333 2px solid;
    border-radius: 2px;
    width: 100%;
    margin-left: -12px;
    padding: 10px;
}

.batches_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px;
}

.shipping_batches {
    background-color: #333;
    color: #3dc6ea;
    border-radius: 2px;
    padding: 5px;
}

.graph {
    width: auto;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.graph_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 30px 20px;
}

.check_box_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px;
}

.check_box_container {
    position: relative;
    cursor: pointer;
    margin: 10px;
    text-align: left;
}

.grid_check_box {
    height: 25px;
    width: 25px;
    cursor: pointer;
    background-color: #f2f2f2;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

.check_box_span {
    border: none;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    font-size: large;
    color: #08afe6;
    margin: 5px;
    width: 90%;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #f3f3f3;
}

.check_box_span:hover {
    background-color: #dadada;
}

.check_box_span:active {
    box-shadow: 2px 2px 5px #333;
}

.check_box_container:hover input~.grid_check_box {
    background-color: #333;
}

.check_box_container input:checked~.grid_check_box {
    background-color: #08afe6;
}

.grid_check_box:after {
    content: "";
    position: absolute;
    display: none;
}

.check_box_container input:checked~.grid_check_box:after {
    display: block;
}


.remove_batch_button {
    height: max-content;
    border-radius: 2px;
    height: 28px;
    cursor: pointer;
    font-size: large;
    color: #f1f1f1;
    border: none;
}