<html>

<head>
  <meta name='viewport' content='width=device-width' />
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title>Email</title>
  <style>
    .container {
      width: 650px;
      height: 510px;
      margin: auto;
      background-color:
        white;
      border: 1px solid #a29a9a69;
      box-shadow: inset;
      padding: 16px 0;
      border-radius: 6px;
    }

    header {
      text-align: center;
      font-weight: bold;
    }

    .content {
      margin-top: 24px;
      padding: 0 12px;
    }

    .btn-reset-password {
      padding: 6px 12px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      margin-top: 6px;
      background-color: gray;
      color: white;
    }

    .btn-reset-password a {
      color: white;
    }

    a {
      text-decoration: none;
      word-wrap: break-word;
    }
  </style>
</head>

<body class='container'>
  <header>
    <h1>Reset Password</h1>
  </header>
  <div class='content'>
    Forgot your password?<br />
    We received a request to reset the password for your account.<br />
    <br />
    To reset your password, click on the button bellow:<br />
    <button class='btn-reset-password'>
      <a href='{{url}}'>Reset password</a>
    </button>
    <br />
    <br />
    Or copy and paste the URL into your browser:
    <br />
    <a href={{url}}>{{url}}</a>
  </div>
</body>

</html>
